/*  *****************************************************  */
/*  **********  /assets/css/styles-global.css  **********  */
/*  *****************************************************  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
}


/*  ******************************  */
/*  **********  HEADER  **********  */
/*  ******************************  */

.cabecera {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.logo-banner {
    width: 200px;
}

.title__header {
    font-size: 36px;
}


/*  ************************************  */
/*  **********  ASIDE - MENÚ  **********  */
/*  ************************************  */

.aside {
    position: fixed;
    top: 130px;
    left: 15px;
    padding: 20px;
    background-color: #ffffff;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
}

.navbar__title {
    width: 230px;
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    background-color: cornflowerblue;
    cursor: pointer;
}

.navbar__list {
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar__item {
    width: 230px;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    font-size: 20px;
    color: #ffffff;
    background-color: cornflowerblue;
    transition: all 300ms ease-in-out;
}



/*  *********************************  */
/*  **********  CONTENIDO  **********  */
/*  *********************************  */

/* .renderHtml__container {
    width: 80%;
    position: absolute;
    top: 195px;
    left: 250px;
    margin: 0;
    padding: 0;
    background-color: aqua;
} */

.contenido {
    width: 100%;
    /* position: absolute;
    top: 0;
    left: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 100px;
}

.ejercicio__container {
    position: relative;
    top: 80px;
    width: 70%;
    display: flex;flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.title__ejercicio {
    font-size: 36px;
    text-align: center;
}

.subtitle__ejercicio {
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
}



/*  ****************************  */
/*  **********  PDFs  **********  */
/*  ****************************  */

.pdf {
    display: none;
    overflow: hidden;
}

.btn__container {
    display: flex;
    gap: 20px;
    padding: 20px;
}


/*  *******************************  */
/*  **********  Botones  **********  */
/*  *******************************  */

button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: #eeeeee;
    background-color: cornflowerblue;
    transition: all 300ms ease-in-out;
}

button:hover {
    background-color: rgb(23, 55, 114);
}


/* .btnPdf,
.btn-close-pdf,
.btn-selector-eq,
.btn-selector-gt,
.btn-selector-lt,
.btn-colorear,
#show,
#hide,
#toggle,
#fadeIn,
#fadeOut,
#fadeToggle,
#fadeTo,
#resetFadeTo,
#slideDown,
#slideUp,
#slideToggle,
#lanzar,
#animarBtn,
#stopBtn,
#resetAnimacionBtn,
#animarCallbackBtn {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: #eeeeee;
    background-color: cornflowerblue;
    transition: all 300ms ease-in-out;
} */


/*  -----  Hover Menú y Botones  -----  */
/* .navbar__title:hover,
.navbar__item:hover,
.btnPdf:hover,
.btn-close-pdf:hover,
.btn-selector-eq:hover,
.btn-selector-gt:hover,
.btn-selector-lt:hover,
.btn-colorear:hover,
#show:hover,
#hide:hover,
#toggle:hover,
#fadeIn:hover,
#fadeOut:hover,
#fadeToggle:hover,
#fadeTo:hover,
#resetFadeTo:hover,
#slideDown:hover,
#slideUp:hover,
#slideToggle:hover,
#lanzar:hover,
#animarBtn:hover,
#stopBtn:hover,
#resetAnimacionBtn:hover,
#animarCallbackBtn:hover {
    background-color: rgb(23, 55, 114);
} */

.separador {
    width: 100%;
    height: 5px;
    background-color: #eeeeee;
    margin: 20px 0;
}


/*  ************************************************  */
/*  **********  04 - Funciones y Efectos  **********  */
/*  ************************************************  */

.animar__container {
    width: 250px;
    height: 250px;
}
#animar1,
#animar2,
#animar3,
#animar4 {
    width: 250px;
    height: 250px;
    background-color: red;
}

.animar__contenedores {
    width: 200px;
    height: 100px;
    margin: 10px;
    position: relative;
}

#animarPrimero,
#animarCallback {
    background-color: orange;
}

#animarSegundo {
    background-color: red;
}

#animarTercero {
    background-color: green;
}

#animarCuarto {
    background-color: blue;
}


/*  ******************************************  */
/*  **********  05 - jQuery y HTML  **********  */
/*  ******************************************  */

.img__container {
    width: 400px;
    height: 300px;
}

.imagen,
.imagen2,
.imagen3 {
    image-rendering: auto;
    width: 100%;
    height: 100%;
}

.texto-añadido {
    background-color: antiquewhite;
}

.ejemplo__container {
    width: 500px;
    height: 50px;
}

.ejemplo-remove-empty,
.ejemplo-css {
    width: 100%;
    height: 100%;
    line-height: 50px;
    border: 2px solid black;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.rojo-fuente {
    color: red;
    font-size: 28px;
}
